
/* styling two components side by side */
.gameStatsPlayerProfiles {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.membershipContactUs {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}