
.navigationImage {
    margin-left: 20px;
    margin-bottom: 10px;
    width:100px;
    height:40px;
}

.navigationList li {
    display: inline-block;
    padding: 0px 15px;
}

.searchBarContainer {

    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}